In [1]:
import seaborn as sns
from sklearn.utils import shuffle
Diamonds = shuffle(sns.load_dataset('diamonds'))
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import metrics
import numpy as np

In [2]:
Diamonds.head()

       carat      cut color clarity  depth  table  price     x     y     z
40082   0.33    Ideal     E    VVS2   61.2   57.0   1114  4.47  4.45  2.73
8559    1.10  Premium     H     SI2   62.6   57.0   4435  6.60  6.56  4.12
43846   0.50     Fair     F     VS1   56.4   62.0   1446  5.31  5.22  2.97
47729   0.71    Ideal     J     SI1   61.6   57.0   1889  5.72  5.75  3.53
32297   0.34    Ideal     E     SI2   62.4   54.0    454  4.49  4.52  2.81

In [3]:
Diamonds = Diamonds[["cut","carat","color","clarity","price"]]

In [4]:
Diamonds.cut.unique()

['Ideal', 'Premium', 'Fair', 'Very Good', 'Good']
Categories (5, object): ['Ideal', 'Premium', 'Fair', 'Very Good', 'Good']

In [5]:
Diamonds["cut"] = Diamonds['cut'].replace(['Very Good', 'Ideal', 'Premium', 'Fair', 'Good'],[2, 4, 3, 1, 0])

In [6]:
Diamonds = pd.get_dummies(Diamonds)

In [7]:
Diamonds.head()

,cut,carat,price,color_D,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_VVS1,clarity_VVS2,clarity_VS1,clarity_VS2,clarity_SI1,clarity_SI2,clarity_I1
40082,4,0.33,1114,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
8559,3,1.10,4435,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
43846,1,0.50,1446,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
47729,4,0.71,1889,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
32297,4,0.34,454,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0

In [8]:
x = Diamonds.drop('price', axis=1)
y = Diamonds['price']

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = .4, random_state=101)

In [10]:
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(32364, 17) (32364,)
(21576, 17) (21576,)

In [11]:
lm = LinearRegression()
lm.fit(x_train, y_train)

LinearRegression()

In [12]:
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

LinearRegression()